/* 
    Autor.- Susana Fabián Antón
    Fecha creación.- 30/09/2020
    Última modificación.- 09/02/2021
*/
/*
    Colores
    Verde: #67A282
    Marrón: #BFA393
    Marrón x2: #9D8B80
    Marrón /4: #DFD1C9
    Azul: #93AFBF
    Azul x2: #6E838F
    Azul /4: #C9D7DF
    Negro: #2A262C
*/
/* Reglas de estilo de reseteo */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}
/* Soporte para el navegador Firefox => ACTUALIZAR ESTA VAINA*/
@supports (-moz-appearance:none) {
    input[type=submit] { width: -moz-fit-content }
}
/* Reglas de estilo generales */
html {
    min-height: 100%;
}
header {
    background-color: #93AFBF;
    color: white;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    width: 80%;
}
h2 {
    color: white;
}
footer { /* ESTO SIGUE CHUNGO */
    margin: 10px auto;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* Colores */
    background-color: #9D8B80;
    color: white;
}
.caja {
    background-color: #C9D7DF;
    border-radius: 15px;
    height: 70%; width: 70%;
    margin: 15px auto;
}
.caja p {
    margin: 5px;
    text-align: center;
}
.barra-superior {
    background-color: #6E838F;
    border-radius: 15px 15px 0 0;
    height: 15%;
    /*Posicionamiento*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuerpo {
/*    border-left: 2px solid #C9D7DF;  Estas dos reglas son solo de mtoDepartamentos 
    border-right: 2px solid #C9D7DF;*/
    height: 70%;
    /*Posicionamiento*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.barra-inferior {
    background-color: #93AFBF;
    border-radius: 0 0 15px 15px;
    height: 15%;
    /*Posicionamiento*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.barra-inferior p {
    color: white;
    margin: 2px;
    text-align: center;
}
.barra-inferior input[type="image"] {
    height: auto; width: 48px;
}
.barra-inferior a:hover {
    text-decoration: underline;
}

/* Reglas de estilo de formularios */
input {
    border: none;
    margin: 5px 0;
    padding: 5px 10px;
    width: 100%;
}
input[type=text]:read-only {
    background-color: #EDF0F1;
    color: #6E838F;
}
input[type=text], input[type=password], input[type=date], input[type=number] {
    border-radius: 5px;
}
input[type=submit] {
    background-color: #93AFBF;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin: 0 3px;
    min-width: 25%;
    padding: 5px 30px;
    width: fit-content;
}
input[type=submit]:active {
    background-color: #6E838F;
}
select {
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.botones {
    text-align: center;
    padding: 5px;
}

/* Reglas de estilo de registro */
#formulario-registro {
    width: 36%;
}
#formulario-registro span {
    font-size: 0.9em;
    position: fixed;
    padding: 5px 10px;
}
#inicio-sesion-registro p, #inicio-sesion-registro form{
    display: inline-block;
    margin: 0;
}
#inicio-sesion-registro input{
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

/* Reglas de estilo de x */
form[name="editarPerfil"] label {
    display: inline-block;
    border-bottom: 1px solid #6E838F;
    padding: 2px;
    width: 15%;
    text-align: left;
    margin-right: 5px; 
}
form[name="editarPerfil"] p input {
    display: inline-block;
    width: 40%;
}
#formulario-mi-cuenta {
    width: 100%;
}

/* Reglas de estilo de rest */
#cuerpo-rest {
    display: grid;
    grid-template-areas: "titulo servicio" "formulario servicio" ;
    grid-template-columns: 35% auto;
    grid-template-rows: 10% auto;
    
/*    display: flex;
    align-items: center;
    justify-content: space-around;*/
    height: 100%; width: 100%;
}
#cuerpo-rest>* {
    margin: 0;
    height: 100%; width: 100%;
    padding: 10px;
    /* Posicionamiento */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid black;*/
}
#titulo-rest {
    border-bottom-right-radius: 15px;
    background-color: #93AFBF;
    color: white;
    /*box-shadow: 1px 1px 3px #93AFBF;*/
    grid-area: titulo;
}
#formulario-rest {
    grid-area: formulario;
}
#formulario-rest select[name=servicios] {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    width: fit-content;
    text-align-last: center;
}
#formulario-rest input[type=date], #formulario-rest input[type=text] {
    width: 80%;
}
#formulario-rest a {
    text-decoration: underline;
    margin: 5px;
    text-align: center;
    display: block;
}
#servicio-rest {
    grid-area: servicio;
}
#servicio-rest > div {
    width: 100%;
    height: 100%;
}
#servicio-rest img {
    width: 30%;
    margin: 10px;
    float: left;
}
#servicio-rest {
    padding: 10px 15px; 
}
#servicio-rest p:first-child {
    margin: 0;
    font-variant: small-caps;
}
#servicio-rest p:not(:first-child) {
    font-size: 0.8em;
    text-align: left;
    margin: 10px;
}
#inferior-rest {
    align-items: flex-end;
}
#inferior-rest input {
    margin: 0 15px;
}
#conversorForm input[type=number] {
    width: 80%;
}
#conversorService p:not(:first-child) {
    font-size: 1em !important;
}
#conversorService img {
    width: 30%;
}

/* REGLAS VIEJAS*/ 
/* Un montón de vainas del footer que tengo que cambiar */
footer address {
    margin: 10px 5px;
}
.iconos-dcha img, .iconos-izq img{
    margin: 0 10px;
}
.iconos-izq, .iconos-dcha {
    display: flex;
    align-items: center;
}
.iconos-izq img {
    /*margin-right: 15px;*/
}
footer img {
    width: 45px;
}

/* Reglas de estilo de tablas */
.tabla {
    width: 100%;
    border: none;
    border-collapse: separate;
    box-shadow: none;
}
.tabla tr:nth-child(odd) {
    background-color: #C9D7DF;
}
.tabla tr:nth-child(even) {
    background-color: white;
}
.tabla th, .tabla td {
    font-size: initial;
    border: none;
    position: initial;
    padding: 10px 20px;
    border-right: 1px solid #C9D7DF;
    border-left: 1px solid #C9D7DF;
}
.tabla td img {
    display: block;
    margin: auto;
}

/*NUEVOS ESTILOS*/
/*vInicio*/
.inicio {
    display: grid;
    grid-template-areas: "bienvenida bienvenida" "imagen sesion" "funciones funciones";
    grid-template-columns: 25% auto;
    grid-template-rows: 15% 65% auto;
    height: 100%;
    width: 100%;
}
.bienvenida {
    font-size: 1.2em;
    grid-area: bienvenida;
    text-align: center;
    /*Posicionamiento*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-imagen {
    align-items: center;
    display: flex;
    grid-area: imagen;
    justify-content: center;
}
.contenedor-imagen img {
    width: 80%;
}
.info-sesion {
    box-shadow: 3px 2px 3px 3px #93AFBF;
    grid-area: sesion;
    position: relative;
    margin: 5px 50px 5px 5px;
    padding: 15px;
    /*Posicionamiento*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.info-sesion p {
    margin: 10px;
    text-align: left;
}
form[name="sesion"] {
    position: absolute;
    bottom: 10px;
    margin: 5px;
}
form[name="sesion"]>input {
    display: inline-block;
    margin-right: 10px;
}
form[name="funciones"] {
    text-align: center;
    grid-area: funciones;
    
    align-items: center;
    justify-content: center;
    display: flex;
}
form[name="funciones"] > input {
    display: inline-block;
    font-size: 1em;
    margin: 10px;
    padding: 10px;
}

/*vMtoDepartamentos*/
.mtoDepartamentos {
    background-color: #C9D7DF;
    border-radius: 15px;
    margin: auto;
    height: 63%; width: 80%;
}
.busqueda {
    background-color: #6E838F;
    border-radius: 15px 15px 0 0;
    height: 15%;
    padding: 20px;
    
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.busqueda form {
    width: 100%;
    align-items: center;
    display: flex;
}
.busqueda input {
    display: inline-block;
}
.busqueda input[type="text"] {
    border-radius: 15px;
    width: 100%;
}
.busqueda input[type="image"] {
    background-color: #93AFBF;
    border-radius: 30%;
    float: right;
    height: 32px; width: auto;
    margin-left: 10px;
}
.botones {
    width: 100%
}

.departamentos {
    background-color: #C9D7DF;
    border-left: 2px solid #C9D7DF;
    border-right: 2px solid #C9D7DF;
}
.departamentos table {
    border-collapse: collapse;
}
.departamentos th {
    font-size: 0.9em;
    text-decoration: underline;
}
.departamentos td {
    font-size: 0.8em;
    text-align: center;
}
.paginacion {
    padding: 0 25px;
    background-color: #93AFBF;
    border-radius: 0 0 15px 15px;
    height: 15%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}
.paginacion input[type="image"] {
    height: auto; width: 48px;
}
