/* 
    Autor.- Susana Fabián Antón
    Fecha creación.- 30/09/2020
    Última modificación.- 21/01/2021
*/
/*
    Colores
    Verde: #67A282
    Marrón: #BFA393
    Marrón x2: #9D8B80
    Marrón /4: #DFD1C9
    Azul: #93AFBF
    Azul x2: #6E838F
    Azul /4: #C9D7DF
    Negro: #2A262C
*/
/* Reglas de estilo de reseteo */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: initial !important;
}
@supports (-moz-appearance:none) {
    h3 { width: -moz-fit-content }
    h4 { width: -moz-fit-content }
    h5 { width: -moz-fit-content }
    ul { width: -moz-fit-content }
    input[type=radio] { width: -moz-fit-content }
    input[type=submit] { width: -moz-fit-content }
    .botones-sesion a { width: -moz-fit-content }
    .botones-sesion input { width: -moz-fit-content }
    .boton { width: -moz-fit-content }
}
/* Reglas de estilo generales */
html {
    position: relative;
    min-height: 100%;
}
body>header {
    text-align: center;
}
main {
    margin: 0px 40px 80px 40px;
}
h1 {
    margin: 10px auto;
    padding: 5px;
    width: 80%;
    
    /* Colores*/
    background-color: #93AFBF;
    color: white;
}
h2 {
    border-bottom: 1.5px solid black;
    margin: auto;
    width: 20%;
}
h3 {
    border-bottom: 1.5px solid black;
    margin: 10px 0px 5px 0px;
    width: fit-content;
}
h4 {
    padding: 5px 20px;
    margin-bottom: 10px;
    width: fit-content;
    
    /* Colores */
    background-color: #93AFBF;
    color: white;
}
h5 {
    font-size: 1em;
    border-bottom: 1.5px solid black;
    margin: 10px 0px 5px 0px;
    width: fit-content;
    
}
section {
    margin: 5px;
    padding: 5px;
}
article {
    margin: 5px;
    padding: 5px;
}
p {
    margin: 10px 5px;
}
footer {
    margin: 10px auto;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    
    /* Colores */
    background-color: #9D8B80;
    color: white;
}
footer address {
    margin: 10px 5px;
}
.iconos-dcha {
    position: absolute;
    top: 15px;
    right: 25px;  
}
.iconos-izq {
    position: absolute;
    top: 15px;
    left: 35px;  
}
footer img {
    width: 45px;
}

/* Reglas de estilo de tablas */
.tabla {
    width: 100%;
    border: none;
    border-collapse: separate;
    box-shadow: none;
}
.tabla tr:nth-child(odd) {
    background-color: #C9D7DF;
}
.tabla tr:nth-child(even) {
    background-color: white;
}
.tabla th, .tabla td {
    font-size: initial;
    border: none;
    position: initial;
    padding: 10px 20px;
    border-right: 1px solid #C9D7DF;
    border-left: 1px solid #C9D7DF;
}
.tabla td img {
    display: block;
    margin: auto;
}

/* Reglas de estilo de listas */
ul {
    list-style-position: inside;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: fit-content;
}
li {
    padding: 5px;
}

/* Reglas de estilo de formularios */
.sesion, .formulario { 
    background-color: #C9D7DF;
    border-radius: 15px;
    padding: 15px 5px;
    margin: auto;
    width: 80%;
}
.formulario {
    /*height: 63%;*/
}
.sesion p, .formulario p {
    margin: 10px 20px;  
}
#editarPerfil p {
    text-align: center;
    margin: 10px 20px;  
}
#editarPerfil label {
    width: 20%;
    font-weight: bold;
}
#editarPerfil input[type=text] {
    width: 70%;
    /*border: 1px solid #6E838F;*/
    border-radius: 5px;
}
#editarPerfil label, #editarPerfil input[type=text] {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    padding: 5px 10px;
    margin: 0 10px;
}
input {
    border: none;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    width: 100%;
}
#editarPerfil input[type="text"]:read-only {
    background-color: #6E838F;
    color: white;
}
input[type=radio] {
    width: fit-content;
}
input[type=submit] {
    background-color: #93AFBF;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1em;
    
    width: fit-content;
    min-width: 25%;
    margin: auto;
}
input[type=submit]:active {
    background-color: #6E838F;
}
select {
    background-color: white;
    border: 2px solid #6E838F;
    color: #6E838F;
    font-weight: bold;
    padding: 0px;
    margin: 5px;
}
.botones-sesion {
    text-align: center;
    padding: 5px;
    margin: auto;
}
.botones-sesion a, .botones-sesion input {
    display: inline-block;
    background-color: #93AFBF;
    padding: 5px 30px;
    color: white;
    margin: 0 3px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    width: fit-content;
    /*min-width: 20%;*/
}
.botones-sesion a:active {
    background-color: #6E838F;
}

/* Reglas de estilo extra */
.inline-block {
    display: inline-block;
}
.margin {
    margin: 5px;
    padding: 5px;
}
.incompleto {
    background-color: #DFD1C9;
}
.center {
    text-align: center;
}
.boton {
    background-color: #BFA393;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: fit-content;
}
.boton:hover {
    background-color: #9D8B80;
}
.boton>a{
    text-decoration: none;
    color:white;
}
.unset {
    margin: 0;
    padding: 0;
}



/*NUEVOS ESTILOS*/
/*vInicio*/
.inicio {
    display: grid;
    grid-template-areas: "bienvenida bienvenida" "imagen sesion" "funciones funciones";
    grid-template-columns: 25% auto;
    grid-template-rows: 12% 65% auto;
    height: 63%;
}
.bienvenida {
    font-size: 1.4em;
    grid-area: bienvenida;
    text-align: center;
}
.contenedor-imagen {
    align-items: center;
    display: flex;
    grid-area: imagen;
    justify-content: center;
}
.contenedor-imagen img {
    width: 150px;
}
.info-sesion {
    box-shadow: 3px 3px 3px 3px #93AFBF;
    grid-area: sesion;
    position: relative;
    margin: 20px 50px 20px 5px;
    padding: 5px;
}
.info-sesion > p {
    margin: 10px;
}
form[name="sesion"] {
    position: absolute;
    bottom: 10px;
    margin: 5px;
}
form[name="sesion"]>input {
    display: inline-block;
    margin-right: 10px;
}
form[name="funciones"] {
    text-align: center;
    grid-area: funciones;
    
    align-items: center;
    justify-content: center;
    display: flex;
}
form[name="funciones"] > input {
    display: inline-block;
    font-size: 1.1em;
    margin: 10px;
    padding: 15px;
}

/*vMtoDepartamentos*/
.mtoDepartamentos {
    background-color: #C9D7DF;
    border-radius: 15px;
    margin: auto;
    height: 63%; width: 80%;
}
.busqueda {
    background-color: #6E838F;
    border-radius: 15px 15px 0 0;
    height: 15%;
    padding: 20px;
    
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.busqueda form {
    width: 100%;
    align-items: center;
    display: flex;
}
.busqueda input {
    display: inline-block;
}
.busqueda input[type="text"] {
    border-radius: 15px;
    width: 100%;
}
.busqueda input[type="image"] {
    background-color: #93AFBF;
    border-radius: 30%;
    float: right;
    height: 32px; width: auto;
    margin-left: 10px;
}
.botones {
    width: 100%
}
.departamentos {
    height: 73%;
    border-left: 2px solid #C9D7DF;
    border-right: 2px solid #C9D7DF;
}
.departamentos table {
    border-collapse: collapse;
}
.departamentos th {
    font-size: 0.9em;
    text-decoration: underline;
}
.departamentos td {
    font-size: 0.8em;
    text-align: center;
}
.paginacion {
    padding: 0 25px;
    background-color: #93AFBF;
    border-radius: 0 0 15px 15px;
    height: 12%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}
.paginacion input[type="image"] {
    height: auto; width: 48px;
}

/*
    Colores
    Verde: #67A282
    Marrón: #BFA393
    Marrón x2: #9D8B80
    Marrón /4: #DFD1C9
    Azul: #93AFBF
    Azul x2: #6E838F
    Azul /4: #C9D7DF
    Negro: #2A262C
*/